# Ignore node_modules (already installed in the container)
node_modules/

# Ignore build artifacts if you're building inside the container
dist/

# Ignore config files and other local development files
.vscode/
.idea/
*.log


# Ignore temporary files
*.tmp
*.swp
*.bak
# *.env
.DS_Store

# Ignore version control
.git/
.gitignore
